<div class="col-md-12 text-center">
  <h3>Panier</h3>
  <br>
</div>

<div class="col-md-8 d-inline-block">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let product of products$">
      <div class="col-md-6 d-inline-block">
        <a routerLink="/products/{{ product.idProductTemplate }}">{{ product.name }}</a>
      </div>
      <div class="col-md-3 d-inline-block">
        <p>{{ product.listPrice+" $" }}</p>
      </div>
      <div class="col-md-3 d-inline-block">
        <input #quantity type="number" name="quantity" id="quantity" class="d-inline-block" min="1" max="10"
               value="{{ product.countInCart }}"
               (change)="modifyProductQuantity(product.idProductTemplate, quantity.value)">
      </div>
    </li>
  </ul>
</div>

<div class="col-md-4 d-inline-block text-center">
  <h4>Facture</h4>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-12" *ngFor="let product of products$">
    <p>{{ product.name }}: <b>{{ (product.listPrice*product.countInCart)+" $" }}</b></p>
  </div>
</div>
