<div class="col-md-12 text-center">
  <h3>Catégories</h3>
  <br>
</div>
<div class="col-md-12">
  <div class="row card-group">
    <div *ngFor="let category of categories$" class="col-md-6 ">
      <div class="row justify-content-center">
        <div class="card col-md-8 align-self-center">
          <img class="card-img-top" src="assets/images/{{ category.idProductCategory }}.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title"><a routerLink="/categories/{{ category.idProductCategory }}">{{ category.name }}</a></h5>
          </div>
        </div>
        <div class="col-md-12">
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
